h1{
    color: rgb(51, 0, 255);
    text-align: center;
}
.h1-tag{
    color: rgb(230, 22, 22);
}
.nav-bar{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    background-color: aqua;
    text-align: center;
}
.nav-bar a{
    padding: 10px;
    margin: 10px; 
    text-decoration: none;
    color: rgb(11, 11, 11);
    background-color: blanchedalmond;
}
.nav-bar a:hover{
    background-color: rgb(102, 198, 95);
}
body{
    margin: 0%;
}
.card{
    border: 2px solid black;
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card img{
    width:100%

}
.card button{
    width:60%;
    padding: 8px;
    border-radius: 4%;
    margin-bottom: 20px;
}
button:hover{
    cursor: pointer;
}
