h1{
    color: rgb(51, 0, 255);
    text-align: center;
}
.h1-tag{
    color: rgb(230, 22, 22);
}
.nav-bar{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    background-color: aqua;
    text-align: center;
}
.nav-bar a{
    padding: 10px;
    margin: 10px; 
    text-decoration: none;
    color: rgb(11, 11, 11);
    background-color: blanchedalmond;
}
.nav-bar a:hover{
    background-color: rgb(102, 198, 95);
}
body{
    margin: 0%;
}
